:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: var(--dx-color-main-bg );
}
.frontpage-center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  width: 100%;
}

